@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-thumb::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 rounded-full bg-white cursor-pointer;
}

.slider-thumb-none::-webkit-slider-thumb {
    @apply appearance-none;
}

.play-slider-thumb::-webkit-slider-thumb {
    @apply appearance-none w-3 h-3 z-20 rounded-full bg-white cursor-pointer;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
